@charset "UTF-8"; 

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

blockquote, body, button, code, dd, dl, dt, fieldset, form, h1, h2, h3,
	h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
	margin: 0;
	padding: 0
}

body, button, input, select, textarea {
	font: 12px/1.5 'Microsoft YaHei', '微软雅黑', 'Helvetica Neue', Helvetica,
		Arial, sans-serif
}

body {
	background: #fff;
	font-size: 14px;
	min-width: 1200px;
	color: #333
}

@media screen and (-ms-high-contrast:active) , ( -ms-high-contrast
	:none) {
	a:active {
		background-color: transparent
	}
}

b, cite, code, em, i, small, th {
	font-style: normal;
	font-weight: 500
}

button, input, select, textarea {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

button, input[type=button], input[type=submit] {
	cursor: pointer;
	outline: 0
}

button[disabled], input[disabled] {
	cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset, iframe, img {
	border: 0
}

img {
	display: inline-block;
	-ms-interpolation-mode: bicubic
}

iframe {
	display: block
}

ol, ul {
	list-style: none
}

li {
	vertical-align: top
}

q:after, q:before {
	content: ''
}

a {
	text-decoration: none;
	color: #666
}

a, b, del, i, img, input, label, span {
	vertical-align: middle
}

.ellipsis {
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.clearfix:after, .clearfix:before, .footer .footer-nav:after, .footer .footer-nav:before,
	.footer .footer-news ul:after, .footer .footer-news ul:before, .footer .footer-wrap .footer-right .footer-ewm-wrap:after,
	.footer .footer-wrap .footer-right .footer-ewm-wrap:before, .footer .footer-wrap:after,
	.footer .footer-wrap:before, .header .header-center:after, .header .header-center:before,
	.header .header-nav:after, .header .header-nav:before, .header .subnav:after,
	.header .subnav:before, .home #city-panel .nav:after, .home #city-panel .nav:before,
	.home #keyword-box .keyword-main ul:after, .home #keyword-box .keyword-main ul:before,
	.home .banner .hanging .action:after, .home .banner .hanging .action:before,
	.home .banner .hanging .pro-tab ul:after, .home .banner .hanging .pro-tab ul:before,
	.home .content .news:after, .home .content .news:before, .home .pagination:after,
	.home .pagination:before, .home .travel_terminal_recommend_box ul:after,
	.home .travel_terminal_recommend_box ul:before, .modal .modal-header:after,
	.modal .modal-header:before {
	content: "";
	display: table
}

.clearfix:after, .footer .footer-nav:after, .footer .footer-news ul:after,
	.footer .footer-wrap .footer-right .footer-ewm-wrap:after, .footer .footer-wrap:after,
	.header .header-center:after, .header .header-nav:after, .header .subnav:after,
	.home #city-panel .nav:after, .home #keyword-box .keyword-main ul:after,
	.home .banner .hanging .action:after, .home .banner .hanging .pro-tab ul:after,
	.home .content .news:after, .home .pagination:after, .home .travel_terminal_recommend_box ul:after,
	.modal .modal-header:after {
	clear: both;
	overflow: hidden
}

.clearfix, .footer .footer-nav, .footer .footer-news ul, .footer .footer-wrap,
	.footer .footer-wrap .footer-right .footer-ewm-wrap, .header .header-center,
	.header .header-nav, .header .subnav, .home #city-panel .nav, .home #keyword-box .keyword-main ul,
	.home .banner .hanging .action, .home .banner .hanging .pro-tab ul,
	.home .content .news, .home .pagination, .home .travel_terminal_recommend_box ul,
	.modal .modal-header {
	zoom: 1
}

button, input, select, textarea {
	outline: 0
}

.btn {
	position: relative;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	outline: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease
}

.btn.btn-default {
	color: #5babfc;
	background-color: #fff;
	border: 1px solid #5babfc
}

.btn.btn-default:hover {
	background-color: #5babfc;
	color: #fff
}

.btn.btn-default.disabled, .btn.btn-default[disabled] {
	background-color: #ccc
}

.btn.btn-default.btn-small {
	height: 30px;
	line-height: 30px
}

.btn.btn-gray, .btn.btn-orange {
	background-color: transparent
}

.btn.btn-gray {
	border: 1px solid #666;
	color: #666
}

.btn.btn-gray:hover {
	color: #999;
	border: 1px solid #999
}

.btn.btn-orange {
	border: 1px solid #fc4f08;
	color: #fc4f08
}

.btn.btn-orange:hover {
	color: #ff873f;
	border: 1px solid #ff873f
}

.btn.btn-orange.disabled, .btn.btn-orange[disabled] {
	border-color: #ccc;
	color: #ccc
}

.btn.btn-blue {
	color: #fff;
	background-color: #5babfc
}

.btn.btn-blue:hover {
	background-color: #2c85df
}

.icon {
	display: inline-block
}

.icon.icon-search {
	width: 14px;
	height: 14px;
	background: url(/dist/images/icon-search.png)
}

.form-inline .form-group {
	display: inline-block
}

.form-group {
	position: relative
}

.form-control {
	display: block;
	padding: 8px 10px;
	width: 100%;
	height: 40px;
	line-height: 1;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.form-control:focus {
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(201, 201, 201, .6), 0 0 8px
		rgba(201, 201, 201, .6);
	box-shadow: inset 0 1px 1px rgba(201, 201, 201, .6), 0 0 8px
		rgba(201, 201, 201, .6)
}

.form-inline {
	position: relative;
	font-size: 0
}

.form-inline .form-control {
	display: inline-block;
	vertical-align: middle;
	width: auto
}

.form-warning {
	border-color: #f6000c
}

label {
	font-size: 12px;
	display: inline-block;
	max-width: 100%;
	vertical-align: middle
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox],
	.radio input[type=radio], .radio-inline input[type=radio] {
	vertical-align: middle
}

.blue-radio input[type=radio] {
	display: none
}

.icon-blue-radio {
	display: inline-block;
	margin-right: 10px;
	width: 14px;
	height: 14px;
	background: url(/dist/images/radio.png)
}

.icon-blue-radio.checked {
	width: 14px;
	height: 14px;
	background: url(/dist/images/blueradio.png)
}

.checkbox-inline, .radio-inline {
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	font-size: 12px;
	vertical-align: middle;
	cursor: pointer
}

.checkbox-inline.disabled, .radio-inline.disabled {
	cursor: not-allowed
}

.checkbox-inline.disabled .icon-blue-radio, .radio-inline.disabled .icon-blue-radio
	{
	background: url(/dist/images/disabledradio.png)
}

.icon-check {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(/dist/images/checkbox.png)
}

.checked {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(/dist/images/checkboxed.png)
}

textarea.form-control {
	height: auto
}

.send-vcode {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	color: #59626a;
	text-decoration: none;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 10px
}

.send-vcode:hover {
	color: #5babfc
}

.send-vcode.disabled {
	background-color: #e4e4e4;
	color: #999;
	cursor: not-allowed;
	filter: alpha(opacity = 65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65
}

.checkbox.disabled label, .form-control[disabled], .radio.disabled label,
	fieldset[disabled] .checkbox label, fieldset[disabled] .form-control,
	fieldset[disabled] .radio label {
	cursor: not-allowed
}

.form-control[disabled], fieldset[disabled] .form-control {
	background-color: #eee;
	opacity: 1
}

.orange {
	color: #fc4f08 !important
}

.ml-10 {
	margin-left: 10px
}

input::-ms-clear {
	display: none
}

.container {
	position: relative;
	height: auto;
	width: 100%;
	background-color: #fff
}

.js-drop {
	position: relative;
	display: inline-block;
	color: #666
}

.js-drop .form-control {
	position: relative;
	color: #666;
	cursor: default
}

.js-dropdown {
	display: none;
	position: absolute;
	top: 40px;
	width: 100%;
	z-index: 100;
	overflow: auto;
	font-size: 14px;
	border: 1px solid #c9c9c9;
	border-bottom: none;
	border-top: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.js-dropdown li {
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	background-color: #fff;
	border-bottom: 1px solid #c9c9c9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default
}

.js-dropdown li:hover {
	background-color: #5babfc;
	color: #fff
}

.is-active ul {
	display: block
}

.select-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	z-index: 1
}

.hide {
	display: none
}

.text-center {
	text-align: center
}

.text-right {
	text-align: right
}

.fl {
	float: left
}

.cover {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease
}

.cover.show {
	opacity: .9;
	z-index: 11
}

.video-window {
	position: fixed;
	z-index: -1;
	width: 1000px;
	height: 562px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	transition: opacity .3s ease
}

.video-window.show {
	opacity: 1;
	z-index: 12
}

.header {
	height: auto;
	width: 100%;
	min-width: 1200px;
	z-index: 11
}

.header .header-container {
	height: auto;
	width: 100%;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled="true",
		startColorstr="#E5FFFFFF", endColorstr="#E5FFFFFF");
	background-color: rgba(255, 255, 255, .9);
	z-index: 11
}

.header .header-center {
	width: 1200px;
	margin: 0 auto;
	padding: 15px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.header .header-logo {
	float: left;
	width: 156px;
	height: 50px;
}

.header .header-logo a {
	display: block;
	width: 100%;
	height: 100%
}

.header .header-nav {
	margin-left: 22px;
	float: left
}

.header .header-nav>.header-nav-item {
	float: left;
	width: auto;
	height: 65px;
	padding: 10px 24px 0;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.header .header-nav>.header-nav-item>a {
	display: inline-block;
	line-height: 30px;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #666
}

.header .header-nav>.header-nav-item.active>a {
	color: #5babfc;
	border-bottom: 2px solid #5babfc
}

.header .header-nav>.header-nav-item:hover>a {
	color: #5babfc
}

.header .header-nav>.header-nav-item:hover .slide-submeu {
	display: block
}

.header .header-action {
	float: right;
	height: 50px;
	line-height: 50px;
	color: #999
}

.header .header-action .qrcode-box {
	position: absolute;
	display: none;
	opacity: 0;
	-webkit-transition: .2s all ease;
	transition: .2s all ease;
	z-index: 11
}

.header .header-action .header-login {
	float: left
}
.header .custom-service {
	font-size: 12px;
	line-height: 55px;
	margin-right: 10px
}

.header .custom-service b {
	font-weight: 700;
	vertical-align: baseline;
	display: inline-block;
	line-height: 1
}

.header .header-login .btn {
	height: 35px;
	line-height: 34px;
	width: 65px;
	margin-left: 10px;
}

.header .header-logined {
	position: relative;
	float: left;
	width: 97px;
	margin-left: 30px;
	height: 65px;
	line-height: 50px;
	cursor: pointer;
	z-index: 11
}

.header .header-logined .logined {
	font-size: 12px;
	color: #d1ae76
}

.header .header-logined:hover .logined_box {
	display: block;
	opacity: 1
}

.header .header-logined .logined_box {
	width: 184px;
	z-index: 9999;
	display: none;
	opacity: 0;
	color: #333;
	position: absolute;
	top: 65px;
	right: -1px;
	border: 1px solid #e2e2e2;
	background-color: #fff;
	padding-top: 10px;
	font-size: 12px
}

.header .header-logined .logined_box li {
	padding-left: 12px;
	height: 30px;
	line-height: 29px
}

.header .header-logined .logined_box .enter_club {
	background-color: #000;
	padding-bottom: 0;
	height: 40px;
	line-height: 40px
}

.header .header-logined .logined_box .enter_club a {
	display: block;
	color: #d1ae76;
	height: 40px
}

.header .header-logined .member_dealing_unit {
	border-top: 1px solid #e2e2e2
}

.header .arrow {
	display: inline-block;
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
	width: 8px;
	height: 8px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	margin-left: 8px;
	margin-top: -8px;
	vertical-align: middle
}

#preview-pin {
	display: none;
	font-size: 16px;
	position: fixed;
	right: -60px;
	top: 50px;
	z-index: 10;
	line-height: 30px;
	color: #f6f7f8;
	text-align: center;
	width: 250px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(45deg);
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	font-weight: 700;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, .8), inset 0 -1px 3px
		rgba(246, 247, 248, .5);
	-moz-box-shadow: 0 1px 3px rgba(54, 54, 68, .8), inset 0 -1px 3px
		rgba(246, 247, 248, .5);
	-ms-box-shadow: 0 1px 3px rgba(54, 54, 68, .8), inset 0 -1px 3px
		rgba(246, 247, 248, .5);
	-o-box-shadow: 0 1px 3px rgba(54, 54, 68, .8), inset 0 -1px 3px
		rgba(246, 247, 248, .5);
	box-shadow: 0 1px 3px rgba(54, 54, 68, .8), inset 0 -1px 3px
		rgba(246, 247, 248, .5);
	border-collapse: separate;
	border: 1px solid #fff;
	background-color: #3636ff;
	background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#4c5b63
		), to(#363644));
	background-image: -webkit-radial-gradient(circle, #4c5bff, #363644);
	background-image: -moz-radial-gradient(circle, #4c5bff, #363644);
	background-image: -ms-radial-gradient(circle, #4c5bff, #363644);
	background-image: -o-radial-gradient(circle, #4c5bff, #363644);
	background-repeat: no-repeat
}

#preview-pin:hover {
	color: #ff6;
	background-image: -webkit-radial-gradient(circle, red, #363644);
	background-image: -moz-radial-gradient(circle, red, #363644);
	background-image: -ms-radial-gradient(circle, red, #363644);
	background-image: -o-radial-gradient(circle, red, #363644);
	border: 1px solid #ff0
}

.footer .custom-service {
	float: left;
	padding-top: 10px;
	margin-right: 10px
}

.footer .footer-content {
	padding: 30px 0;
	width: 1190px;
	margin: 0 auto;
	overflow: hidden
}

.footer .footer-nav {
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #bbb
}

.footer .footer-nav a {
	color: #fff
}

.footer .footer-nav a:hover {
	color: #5babfc
}

.footer .footer-nav li {
	float: left;
	font-size: 12px;
	line-height: 1;
	margin-right: 40px
}

.footer .footer-nav li:last-child {
	margin-right: 0
}

.footer .footer-nav li.li-title {
	font-size: 14px;
	font-weight: 700
}

.footer .footer-nav li.li-title a {
	color: #fff;
	text-decoration: none
}

.footer .footer-wrap .footer-left {
	float: left;
	line-height: 36px;
	color: #fff;
	overflow: hidden
}

.footer .footer-wrap .footer-right {
	padding-top: 5px;
	float: right
}

.footer .footer-wrap .footer-right .footer-ewm-wrap h5 {
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	margin-bottom: 15px;
	text-align: center
}

.footer .footer-wrap .footer-right .footer-ewm-wrap p {
	text-align: center;
	font-size: 12px;
	margin-top: 10px
}

.footer .footer-wrap .footer-right .footer-ewm-pic {
	color: #fff;
	float: left;
	margin: 0 7.5px
}

.footer .footer-wrap .footer-right .footer-ewm-pic img {
	width: 90px
}

.footer .footer-wrap .footer-right .footer-help {
	padding-top: 16px;
	padding-left: 15px;
	text-align: left;
	font-size: 12px
}

.footer .footer-bei {
	color: #fff;
	margin: 0 auto 10px;
	line-height: 1.6;
	font-size: 12px
}

.footer .footer-bei a {
	color: #fff;
	vertical-align: top
}

.footer .footer-news {
	margin: 0 auto
}

.footer .footer-news li {
	float: left;
	margin-right: 10px;
	line-height: 1
}

.footer .footer-news li a {
	display: inline-block;
	height: 22px;
	background: url(/dist/images/footer_news1.png);
	vertical-align: middle;
	font-size: 12px;
	color: #fff
}

.footer .footer-news .gongshang_icon {
	width: 20px
}

.footer .footer-news .verify_success {
	width: 41px;
	background-position: -35px 0
}

.footer .footer-news .net_policeman {
	width: 49px;
	background-position: -90px 0
}

.footer .footer-news .collect_credit {
	width: 45px;
	background-position: -153px 0
}

.footer .footer-news .police {
	background: 0 0;
	width: auto
}

.footer .footer-news .police img {
	margin-right: 5px
}

.footer .footer-news .police span {
	vertical-align: middle
}

.footer .footer-wrap {
	background-color: #1d1d1d
}

.home {
	background: #fff
}

.home .banner {
	position: relative;
	width: 100%;
	height: 400px
}

.home .banner .hanging {
	position: absolute;
	top: 0;
	left: -810px;
	right: 0;
	bottom: 0;
	width: 280px;
	height: 320px;
	margin: auto;
	background: #fff;
	border: 1px solid #d9d9d9;
	z-index: 11
}

.home .banner .hanging .slogan {
	font-size: 44px;
	letter-spacing: 12px;
	text-shadow: 0 0 5px rgba(0, 0, 0, .7)
}

.home .banner .hanging .welcome {
	margin-top: 35px;
	font-size: 20px;
	letter-spacing: 1px;
	text-shadow: 0 0 5px rgba(0, 0, 0, .7)
}

.home .banner .hanging .action {
	display: none;
	position: relative;
	height: 262px;
	padding-top: 10px;
	color: #333
}

.home .banner .hanging .action.active {
	display: block
}

.home .banner .hanging .action span {
	padding-left: 10px;
	line-height: 38px;
	font-size: 12px
}

.home .banner .hanging .action label {
	width: 65px;
	padding-left: 20px;
	font-size: 14px;
	color: #999
}

.home .banner .hanging .action input {
	width: 154px;
	height: 36px;
	padding: 0 10px;
	border: 1px solid #d9d9d9
}

.home .banner .hanging .block {
	height: 38px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 10px
}

.home .banner .hanging .block i {
	position: absolute;
	display: block;
	bottom: 20px;
	right: 20px;
	font-size: 10px;
	color: #999;
	pointer-events: none
}

.home .banner .hanging .block p {
	padding-top: 5px
}

.home .banner .hanging .block p span {
	display: inline-block;
	pointer-events: none;
	font-size: 14px;
	color: #999;
	margin: 0 0 -7px 9px
}

.home .banner .hanging .kids {
	height: 0;
	overflow: hidden
}

.home .banner .hanging .kids label {
	min-width: 179px;
	height: 21px;
	display: block
}

.home .banner .hanging .kids p {
	width: 179px;
	display: block
}

.home .banner .hanging .kids p span {
	margin: 0 0 -7px 5px
}

.home .banner .hanging .btn-search {
	position: absolute;
	bottom: 15px;
	right: 15px;
	text-align: right
}

.home .banner .hanging .btn-search a {
	display: inline-block;
	width: 120px;
	height: 35px;
	line-height: 35px;
	border-radius: 0;
	color: #fff;
	font-size: 14px;
	letter-spacing: .8px;
	border: none;
	text-align: center
}

.home .banner .hanging .pro-tab {
	width: 280px
}

.home .banner .hanging .pro-tab li {
	float: left;
	font-size: 16px;
	color: #666;
	text-align: center;
	width: 140px;
	height: 48px;
	line-height: 48px;
	background-color: #ebebeb;
	border: 1px solid #d9d9d9;
	border-top: none;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.home .banner .hanging .pro-tab li:first-child {
	border-left: none
}

.home .banner .hanging .pro-tab li:last-child {
	border-right: none
}

.home .banner .hanging .pro-tab li.active {
	color: #c69f62;
	background-color: #fff;
	border: none
}

.home #city-panel {
	position: absolute;
	top: 103px;
	left: 89px;
	z-index: 6;
	width: 460px;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	font-size: 12px
}

.home #city-panel .nav {
	border-bottom: 1px solid #eee;
	height: 40px;
	line-height: 40px;
	padding: 0 10px
}

.home #city-panel .nav li {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	padding: 0 10px;
	width: 16.66%;
	cursor: pointer
}

.home #city-panel .nav li:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	width: 70%;
	height: 38px;
	margin: 0 auto;
	border-bottom: 2px solid transparent;
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}

.home #city-panel .nav li.active a {
	color: #5babfc
}

.home #city-panel .nav li.active:after {
	border-bottom: 2px solid #5babfc
}

.home #city-panel .nav a {
	display: block;
	width: 100%;
	text-align: center;
	cursor: pointer
}

.home #city-panel .tab-panel {
	padding: 10px;
	max-height: 155px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: auto
}

.home #city-panel .tab-panel a {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
	height: 32px;
	line-height: 32px;
	width: 16.66%;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.home #city-panel .tab-panel a:hover {
	color: #5babfc
}

.home #city-panel .tab-panel li.title {
	color: #339bef;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
	font-weight: 700
}

.home #city-panel .nations {
	padding: 10px;
	background-color: #ebebeb
}

.home #city-panel .nations li {
	float: left;
	width: 50%;
	font-size: 16px;
	color: #666;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center
}

.home #city-panel .nations li.active {
	color: #5babfc
}

.home #city-panel .nations li:first-child {
	border-right: 1px solid #d9d9d9
}

.home .travel_terminal_recommend_box {
	position: absolute;
	left: 89px;
	top: 100px;
	background-color: #fff;
	border: 1px solid #d3d3d3;
	color: #333;
	padding: 15px;
	width: 290px;
	line-height: 20px;
	display: none;
	z-index: 11
}

.home .travel_terminal_recommend_box .travel_line_head {
	font-weight: 700;
	font-size: 14px;
	color: #333;
	margin-bottom: 5px
}

.home .travel_terminal_recommend_box .travel_line_unit {
	margin-bottom: 10px
}

.home .travel_terminal_recommend_box ul {
	font-size: 12px;
	color: #666
}

.home .travel_terminal_recommend_box ul li {
	float: left;
	width: 50px;
	margin-right: 8px;
	cursor: pointer
}

.home .travel_terminal_recommend_box ul li:hover {
	color: #5babfc
}

.home #keyword-box {
	position: absolute;
	top: 250px;
	left: 90px;
	background-color: #fff;
	width: 500px;
	height: 401px;
	border: 1px solid #dedede;
	padding: 15px;
	overflow-y: auto;
	z-index: 11;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.home #keyword-box .keyword-main {
	margin-bottom: 10px
}

.home #keyword-box .keyword-main .tit {
	font-weight: 700;
	font-size: 14px;
	color: #333;
	margin-bottom: 5px
}

.home #keyword-box .keyword-main ul {
	margin-left: -12px;
	margin-right: -12px
}

.home #keyword-box .keyword-main li {
	float: left;
	padding: 4px 12px;
	margin-right: 8px;
	cursor: pointer
}

.home #keyword-box .keyword-main li a {
	font-size: 12px;
	color: #5babfc
}

.home .cxslide {
	position: relative;
	width: 100%;
	height: 100%
}

.home .cxslide .box {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%
}

.home .cxslide .list li {
	width: 100%;
	height: 400px
}

.home .cxslide .list li a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat
}

.home .pagination {
	position: absolute;
	left: 0;
	bottom: 10px;
	right: 0;
	height: 10px;
	margin: auto;
	text-align: center;
	z-index: 10
}

.home .pagination li {
	display: inline-block;
	margin: 0 2px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled="true",
		startColorstr="#99000000", endColorstr="#99000000");
	background-color: rgba(0, 0, 0, .6);
	cursor: pointer
}

.home .pagination li.selected {
	filter: progid:DXImageTransform.Microsoft.gradient(enabled="true",
		startColorstr="#99FFFFFF", endColorstr="#99FFFFFF");
	background-color: rgba(255, 255, 255, .6)
}

.home .content {
	height: 456px;
	margin: 0 auto;
	background: url(index_files/home-brand-bg.jpg) center bottom
		no-repeat #f2f2f2
}

.home .content .center-container {
	width: 1200px;
	margin: 0 auto;
	padding-top: 200px
}

.home .content .news li {
	float: left;
	width: 222px;
	margin-right: 20px;
	border: 1px solid #eee;
	background-color: #fff;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}

.home .content .news li img {
	width: 100%
}

.home .content .news li h3 {
	color: #666;
	font-size: 14px;
	font-weight: 400
}

.home .content .news li p {
	color: #999;
	font-size: 12px
}

.home .content .news li:last-child {
	margin-right: 0
}

.home .content .news li:hover {
	margin-top: -10px
}

.home .content .news .intro {
	padding: 10px 15px
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled="true",
		startColorstr="#99000000", endColorstr="#99000000");
	background-color: rgba(0, 0, 0, .6)
}

.modal.fade {
	opacity: 0;
	webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear
}

.modal.fade.in {
	opacity: 1;
	display: block
}

.modal .modal-content {
	position: relative;
	background-color: #fff;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
}

.modal .modal-dialog {
	position: relative;
	width: auto;
	margin: 20% auto 0
}

.modal .modal-header {
	padding: 15px
}

.modal .modal-header span {
	font-size: 24px
}

.modal .modal-header .close {
	float: right;
	line-height: 1;
	color: #000;
	opacity: .2;
	cursor: pointer
}

.modal .modal-sm {
	width: 450px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.modal .modal-lage {
	position: absolute;
	top: 10%;
	bottom: 10%;
	left: 0;
	right: 0;
	width: 700px;
	margin: auto
}

.modal .modal-lage .modal-body {
	padding-bottom: 80px
}

.modal .modal-body {
	padding: 15px 15px 30px;
	color: #666;
	font-size: 20px
}

.modal .modal-body h4, .modal .modal-body p {
	margin-bottom: 20px
}

.modal .modal-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 80px;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.modal .modal-footer .btn {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 100px;
	font-size: 16px;
	margin: 0 10px;
	cursor: pointer
}

.modal .modal-container {
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	padding: 20px;
	margin: -15px -15px 0
}

.modal .section {
	text-align: left;
	margin-bottom: 20px
}

.modal .section h4 {
	color: #5babfc;
	margin-bottom: 10px
}

.modal .section p {
	font-size: 14px;
	margin-bottom: 0
}

.brands-wrapper .brands-container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0 75px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.brands-wrapper .brands-container .scale-next-btn, .brands-wrapper .brands-container .scale-pre-btn
	{
	position: absolute;
	width: 22px;
	height: 42px;
	top: 50%;
	margin-top: -21px;
	cursor: pointer
}

.brands-wrapper .brands-container .scale-next-btn {
	color: #999;
	right: 10px;
	font-size: 30px
}

.brands-wrapper .brands-container .scale-pre-btn {
	color: #999;
	left: 10px;
	font-size: 30px
}

.brands-wrapper .scale-wrapper {
	position: relative;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.brands-wrapper .scale-container {
	position: absolute;
	top: 50%;
	width: 2000%;
	margin-top: -40px
}

.brands-wrapper .scale-slider {
	float: left;
	text-align: center;
	font-size: 0
}

.brands-wrapper .scale-slider:after {
	content: "";
	display: inline-block;
	height: 60px;
	vertical-align: middle
}

.brands-wrapper .scale-slider a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 50px;
	top: 0;
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.brands-wrapper .scale-slider:last-child a {
	margin-right: 0
}

body .cRed {
	color: #fb0007
}

.date-mainBox {
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	overflow: hidden;
	font: 14px 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	position: absolute;
	z-index: 99999;
	background: #eee
}

.date-ml4 {
	margin-left: 4px
}

.date-box {
	float: left
}

.date_main {
	float: left;
	width: 254px;
	background: #fff
}

.date_box_top {
	height: 38px;
	background: #eaeaea;
	position: relative;
	border-right: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4
}

.date_add, .date_minus {
	float: left;
	width: 38px;
	height: 32px;
	text-align: center;
	cursor: pointer;
	padding-top: 6px
}

.date_backL {
	background: url(/dist/images/selectDate/backL.png) center no-repeat
}

.date_backL:hover {
	background: url(/dist/images/selectDate/backL_hover.png) center
		no-repeat
}

.date_backR {
	background: url(/dist/images/selectDate/backR.png) center no-repeat
}

.date_backR:hover {
	background: url(/dist/images/selectDate/backR_hover.png) center
		no-repeat
}

.date_month {
	width: 120px;
	line-height: 38px;
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -60px;
	margin-top: -19px;
	text-align: center;
	color: #333
}

.date_add {
	float: right
}

.date_week_ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	border-right: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	color: #a1a1a1
}

.date_week_ul li {
	float: left;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 12px
}

.ate_box_table {
	width: 254px;
	background: #E4E4E4;
	border-collapse: separate;
	border-spacing: 1px;
	font-size: 12px;
	color: #666
}

.ate_box_table td {
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: #fff;
	text-align: center;
	cursor: pointer
}

.ate_box_table td[data-ymd]:hover, body .date_td {
	background: #5babfc;
	color: #fff
}

.ate_box_table .date_nothis {
	color: #ccc;
	cursor: default
}